<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand" href="index.html.htm">AngeMor</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="index.html.htm">Inicio</a></li>
                <li class="active"><a href="disenos.html.htm">Diseños</a></li>
                <li><a href="index1.html.htm">Contactenos</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paquetes <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                   <li><a href="premium.html.htm">Paquete Premium</a></li>
                    <li><a href="informació.html.htm">Paquete Platino</a></li>
                    <li><a href="layout.html.htm">Paquete Básico</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
   
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-2">
          <img class="img-circle" src="img/somos.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
         <h2>Nosotros</h2>
          <p>Somos una empresa joven y nueva en el mercado, con el conocimiento necesario para llevar acabo cualquier tipo de proyecto.</p>
          <p>Estamos interesado en el crecimiento de tu negocio con herramientas muy sofisticadas creadas para tí y tu empresa. Actualizarnos constantemente a nivel tecnológico y aprender las nuevas tendencias para desarrollar no solo paginas web sino lo necesario para hacer crecer tu negocio.</p>
        </div><!-- /.col-lg-4 -->
        <center><div class="col-lg-8 ">
          <img class="img-circle" src="img/tec.png" alt="Generic placeholder image" style="width: 140px; height: 140px; background-color:#00FFFF; ">
          <h2>Diseños</h2>
          <p>Diseños adaptables a cualquier dispositivo, creamos tu diseño ó hacemos un diseño que se ajuste a las necesidades de tu empresa.</p>
          <p>Con diseños modernos y sofisticados. </p>
          <p>Le brindamos a nuestro clientes lo mejor en el mercado, servicios que permitan expandir tu negocio.</p>
          <a class="btn btn-default btn-warning" href="img/niv.png" role="button"><img src="img/niv.png" alt="Generic placeholder image" style="width: 588px; height: 322px;"></a>
        </div><!-- /.col-lg-4 --></center>
        <div class="col-lg-2 ">
          <img class="img-circle" src="img/serv.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Servicios</h2>
          <p>Paquetes adaptados a las necesidades de tu empresa, entendemos que cada cliente es diferente pero todos tenemos el mismo objetivo crecer.</p>
          <p>Creamos páginas web con diseños modernos adaptable a cualquier dispositivo, damos mantenimiento y asesoría a tu página, al momento de elegir tu paquete te damos facilidades de pago. </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4">
          <center><h2 class="featurette-heading">Creatividad. <span class="text-muted">Con colorido.</span></h2>
          	<a class="btn btn-default btn-warning" href="img/diseño1.png.png" role="button"><img src="img/diseño1.png.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          </center>
        </div>
        <div class="col-md-4">
          <center><h2 class="featurette-heading">Sofisticado. <span class="text-muted">Con elegancia.</span></h2>
          	<a class="btn btn-default btn-warning" href="img/diseno3.png.png" role="button"><img src="img/diseno3.png.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          </center>
        </div>
        <div class="col-md-4">
          <center><h2 class="featurette-heading">Sencillo. <span class="text-muted">Con naturalidad.</span></h2>
          	<a class="btn btn-default btn-warning" href="img/diseno4.png.jpg" role="button"><img src="img/diseno4.png.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          </center>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Subir</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
